{% if site.enable_google_analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Cookie Consent by TermsFeed (https://www.TermsFeed.com) -->
<script type="text/javascript" src="{{ '/assets/js/cookie-consent.js' | relative_url }}" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
  document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false});
  });
</script>

<!-- Google Analytics -->
<script type="text/plain" cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
<!-- end of Google Analytics-->

<noscript>ePrivacy and GPDR Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow">TermsFeed Generator</a></noscript>
<!-- End Cookie Consent by TermsFeed (https://www.TermsFeed.com) -->
{% endif %}


{% if site.enable_panelbear_analytics %}
<!-- Panelbear Analytics - We respect your privacy -->
<script async src="https://cdn.panelbear.com/analytics.js?site={{site.panelbear_analytics}}"></script>
<script>
  window.panelbear = window.panelbear || function() { (window.panelbear.q = window.panelbear.q || []).push(arguments); };
  panelbear('config', { site: '{{site.panelbear_analytics}}' });
</script>
{% endif %}